 <!--Criar um modal-->
 <div id="modal" class="hide">
  <div class="content">
    <div class="header">
      <h1>Pontos de Coleta</h1>
      <a href="#">Fechar</a><!--Não esquecer de colocar o # -->
    </div>
    <form action="/search"><!--Vai mostrar a pagina que irá ser encaminhada-->
      <label for="search">Cidade</label>
      <div class="search field">
        <input 
        type="text" 
        name ="search"
        placeholder="Pesquise por Cidade">
        <button>
          <img src="/assets/search.svg" alt="Buscar">
        </button>
      </div>
    </form>
  </div>
</div>